<!doctype html>
<html ng-app="demo">
<head>
    <title>Hello AngularJS</title>
    <link rel="stylesheet" type="text/css" href="styles/app.css">
    <link rel="stylesheet" type="text/css" href="styles/tableScroll.css">
    <link rel="stylesheet" type="text/css" href="styles/modal.css">
    <link rel="stylesheet" type="text/css" href="http://thienhung1989.github.io/angular-tree-dnd/3.0.4/ng-tree-dnd.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script src="http://thienhung1989.github.io/angular-tree-dnd/3.0.4/ng-tree-dnd.min.js"></script>
</head>

<body>
<header>
    <div class="description">
        <p>Konfiguration fur</p>
        <p>-Unterstutzende Services</p>
        <p>-Technische Services</p>
    </div>

    <div ng-controller="UtilityController" class="inpoutDate">
        <button class="decrement button" ng-click="decrementButton()" ng-model="decrementButton"><<</button>
        <input  type="number" class="date" ng-model="inputDate" ng-model-options="{debounce : 300}"/>
        <button class="increment button" ng-click="incrementButton()" ng-model="decrementButton">>></button>
    </div>

    <div class="domain">
        <input class="inputDomain"/>
        <input class="input"/>
    </div>

    <div class="buttons2">
        <button class="button1 button">Monat ausdrucken</button>
        <button class="button2 button">Programm beenden</button>
    </div>

    <div class="ms-logo">
        <img src="http://www.chip.de/ii/2/5/8/7/9/1/5/7/mediasaturn-4587f4b602f080d9.jpg" width="250" height="40" />
        <p>Configuration Management@MSITS</p>
    </div>
</header>

<div ng-controller="CostCenterController" class="costCenter">
        <table ng-table="costCenterTableParams" show-filter="false" class="costCenterTable tableCostCenter table-bordered">
        <tr ng-repeat="costCenter in $data" ng-click="getCostCenterData($event,x.id);setSelected()" class="{{selected}}">
            <td data-title="'Id'" sortable="'id'" filter="{ 'id': 'number' }">
                {{costCenter.id}}
            </td>
            <td  class="center" data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }" >
                {{costCenter.name}}
            </td>
        </tr>
    </table>
</div>
<div ng-controller="ServiceApplicationController" class="serviceApplication">
    <table ng-table="serviceApplicationTableParams" show-filter="false" class="serviceApplicationTable table table-bordered">
        <tr draggable ng-repeat="serviceApp in $data" ng-mousedown="setSelected()" class = "tableServiceRaw {{selected}}">
            <td  data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }" >
                {{serviceApp.name}}
            </td>
            <td data-title="'Per'" sortable="'per'" filter="{ 'per': 'number' }">
                {{serviceApp.per}}
            </td>
            <td data-title="'Id'" sortable="'id'" filter="{ 'id': 'number' }">
                {{serviceApp.id}}
            </td>
            <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }">
                {{serviceApp.status}}
            </td>
            <td data-title="'AoDepartment'" sortable="'aoDepartment'" filter="{ 'aoDepartment': 'text' }">
                {{serviceApp.aoDepartment}}
            </td>
        </tr>
    </table>
</div>
<div class="searchBar">
    Search:<input ng-model="searchInput" type="text" ng-change="search()">
</div>
<div ng-controller="ServiceCostCenterRelationController" drop="handleDrop()" class = "serviceCostCenterRelation">
    <div  droppable drop="handleDrop()" class="serviceCostRelationTableDropZone">
    <table ng-table="serviceCostCenterRelationTableParams" show-filter="false" class="serviceCostCenterRelationTable table table-bordered">
        <tr droppable drop="handleDrop()"   ng-repeat="serviceCost in $data"  ng-model="appSupport" ng-click="setSelected()" class = "tableServiceRaw {{selected}}" >
            <td data-title="'Id'" sortable="'id'" filter="{ 'id': 'number' }">
                {{serviceCost.id}}
            </td>
            <td data-title="'Period'" sortable="'period'" filter="{ 'period': 'number' }">
                {{serviceCost.period}}
            </td>
            <td data-title="'Cost'" sortable="'cost'" filter="{ 'cost': 'number' }">
                {{serviceCost.cost}}
            </td>
            <td data-title="'Ref2US'" sortable="'ref2US'" filter="{ 'ref2US': 'number' }">
                {{serviceCost.ref2US}}
            </td>
            <td data-title="'Ref2Dienst'" sortable="'ref2Dienst'" filter="{ 'ref2Dienst': 'number' }">
                {{serviceCost.ref2Dienst}}
            </td>
            <td data-title="'Dienstname'" sortable="'Dienstname'" filter="{ 'Dienstname': 'number' }">
                {{serviceCost.Dienstname}}
            </td>
        </tr>
    </table>
    </div>
    <modal-dialog show='modalShown' width='450px' height='40%'>
        <p>Cost : <p>
        <form ng-submit="addAppSupport()" >
            <input ng-model="val" placeholder={{val}} ng-pattern="/^\d+$/" name="anim" class="modal-input"
                   aria-describedby="inputDescription" >
            <input type="submit" id="submit" value="Submit" />
        </form>
    </modal-dialog>
</div>
<script src="scripts/app.js"></script>
<script src="scripts/ParentController.js"></script>
<script src="scripts/CostCenterController.js"></script>
<script src="scripts/ServiceApplicationController.js"></script>
<script src="scripts/ServiceCostCenterRelationController.js"></script>
<script src="scripts/UtilityController.js"></script>
</body>
</html>