/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

html{
  height: 100%;
}

body{
  background-color: #BFBFBF;
  height: 100%;
  overflow: hidden;
}

header{
  position: relative;
}

.description{
  display: inline-block;
}

tr th{
  border: 1px solid lightgray;
  text-align: center;
}

.description p{
  margin: 5px;
  color: grey;
}

.inpoutDate{
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 27%;
}

.button:active{
  background: #96bae8;
}


.decrement{
  border: 1px solid;
  border-color: darkgray;
  background: linear-gradient(0deg , #BAD1F3 50%, #F0F0F0);
}
.increment{
  border: 1px solid;
  border-color: darkgray;
  background: linear-gradient(0deg , #BAD1F3 50%, #F0F0F0);
}

.domain{
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 9.3%;
}

.buttons2{
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 50%;
}

.button1{
  width: 35%;
  height: 42px;
  border-radius: 5px;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 5px;
  background: linear-gradient(0deg , #BAD1F3 50%, #F0F0F0);
  
}

.button2{
  width: 35%;
  height: 42px;
  border-radius: 5px;
  border: 1px solid;
  border-color: darkgray;
  background: linear-gradient(0deg , #BAD1F3 50%, #F0F0F0);
}

.ms-logo{
  display: inline-block;
  float: right;
  margin-right: 3%;
}

.ms-logo p{
  margin: 0;
  color: grey;
  text-align: center;
}

.costCenter{
  height: 25%;
  width: 49%;
  background-color: white;
  margin-bottom: 1%;
  display: inline-block;
  border: 1px solid;
  border-color: #BAD1F3;
}

.costCenter tr td{
  border: 1px solid lightgray;
  text-align: left;
}

.tableServiceRaw{
  border: 1px solid lightgray;
  text-align: left;
}

.serviceCostCenterRelation{
  height: 61%;
  width: 49%;
  margin-top: 1px;
  background-color: white;
  border: 1px solid;
  border-color: #BAD1F3;
}

.serviceCostCenterRelation tr td{
  border: 1px solid lightgray;
  text-align: left;
}

.serviceApplication{
  width: 50%;
  background-color: white;
  float: right;
  height: 90%;
  border: 1px solid;
  border-color: #BAD1F3;
}

.serviceApplication tr td{
  border: 1px solid lightgray;
  text-align: left;
}

.costCenterTable{
  border-collapse: collapse;
  border: 1px solid;
  overflow:auto;
  border-color: lightgray;
  margin: 1%;
  width: 98%;
  border-bottom: none;
}

.serviceCostCenterRelationTable{
  border-collapse: collapse;
  margin: 1%;
  border: 1px solid;
  border-color: lightgray;
  width: 98%;
}

.serviceApplicationTable{
  border-collapse: collapse;
  margin: 1%;
  border: 1px solid;
  overflow:auto;
  border-color: lightgray;
  width: 98%;
  min-height:96%;
  overflow:auto;
}

tr:nth-child(even){
  background-color: #F2F2F2;
}

tr.selected{
    background-color:#B7DBFF;
}

.modal-input {
  transition:0.5s linear all;
  background: white;
}
.modal-input.ng-invalid {
  background: red;
  color:white;
}
.searchBar{

}

.ng-table-pager {
    display: none;
}

.buttonPress1:active{
  background-color: white;
}
.serviceCostRelationTableDropZone{
    width:100%;
    height:100%;
}

