.tableCostCenter{
    display: table;
    width: 98%;
    height: 85%;
    table-layout: fixed;
}

.tableCostCenter tbody{
    overflow-x: hidden;
    overflow-y: auto;
    height: 97%;
    table-layout: fixed;
    display: block;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.tableCostCenter tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tableCostCenter thead{
    display: block;
}


.table{
    display: table;
    width: 98%;
    height: 98%;
    table-layout: fixed;
}

.table tbody{
   overflow-x: hidden;
   overflow-y: auto;
   height: 97%;
   table-layout: fixed;
   display: block;
   width: 100%;
}

.table tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table thead{
    display: block;
}

